# Node
node_modules/
user_data/
.env

# VSCode
.vscode/

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes

# Log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Others
*.log

*.db